In [1]:
import requests
import pprint as pp
import pandas as pd
import sqlite3 as sql
import os

# API Call

In [35]:
api_key = "AIzaSyCb0lbixtfdGSXfiPzBlS4SZ5Y9E8X4Ryo"
with open('origin_ids.txt') as file:
    origin = file.read()
with open('destination_ids.txt') as file:
    destination = file.read()
url = f"https://maps.googleapis.com/maps/api/distancematrix/json?origins={origin}&destinations={destination}&mode=car&key={api_key}"
output = requests.get(url).json()
pp.pprint(output)

{'destination_addresses': ['St. Louis, MO, USA', 'Memphis, TN, USA'],
 'origin_addresses': ['New York, NY, USA', 'Philadelphia, PA, USA'],
 'rows': [{'elements': [{'distance': {'text': '1,533 km', 'value': 1533213},
                         'duration': {'text': '15 hours 8 mins',
                                      'value': 54455},
                         'status': 'OK'},
                        {'distance': {'text': '1,763 km', 'value': 1762524},
                         'duration': {'text': '16 hours 50 mins',
                                      'value': 60606},
                         'status': 'OK'}]},
          {'elements': [{'distance': {'text': '1,429 km', 'value': 1429239},
                         'duration': {'text': '13 hours 54 mins',
                                      'value': 50036},
                         'status': 'OK'},
                        {'distance': {'text': '1,634 km', 'value': 1634369},
                         'duration': {'text': '15 hours 31 mins',
                                      'value': 55881},
                         'status': 'OK'}]}],
 'status': 'OK'}

# 'Add-location' function

In [288]:
def add_location(document=str, location=str):
    location = location.replace("|", "")
    
    if not os.path.isfile(document):
        with open(document, 'a+') as file:
            file.write(location)
    else: 
        file = open(document)
        if file.read().count('|') >= 24:
            print("You can\'t add more locations to this file")
        else:
            with open(document, 'a+') as file:
                file.write('|' + location)
        file.close()

# Sorting algorithm

In [214]:
origins = [origins for origins in output['origin_addresses']]
destinations = [destinations for destinations in output['destination_addresses']]

distance_matrix = {}

for origin in origins:
    values = []
    for element in output['rows'][origins.index(origin)]['elements']:
        kms = element['distance']['text']
        if "," in kms:
            kms = kms.replace(",", "")
        values.append(float(kms.strip('km')))
    distance_matrix.update({origin:values})
    
df = pd.DataFrame(distance_matrix, index=destinations)
df.index.name = 'destinations'

In [215]:
df #displays the dataframe created in the cell above

                    New York, NY, USA  Philadelphia, PA, USA
destinations
St. Louis, MO, USA             1533.0                 1429.0
Memphis, TN, USA               1763.0                 1634.0

# Store data in database

In [299]:
DB = "distance_table.db"

try:
    with sql.connect(DB) as db:
        df.to_sql("distance_table", db, if_exists='append', index_label='destinations')
except sql.Error as e:
    print("Error in database", e.args[0])
except Exception as err:
    print("Other error", err)

/Users/juank/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

# From SQL database to DataFrame

In [300]:
try:
    with sql.connect(DB) as db:
        cursor = db.cursor()
        cursor.execute("SELECT * FROM distance_table")
        df2 = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])  
except sql.Error as e:
    print('Error in database', e.args[0])
except Exception as err:
    print("Other error", err)

In [301]:
df2

         destinations  New York, NY, USA  Philadelphia, PA, USA
0  St. Louis, MO, USA             1533.0                 1429.0
1    Memphis, TN, USA             1763.0                 1634.0